layout {
    default_tab_template {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        children
        pane size=2 borderless=true {
            plugin location="zellij:status-bar"
        }
    }
    tab focus=true name="todo" {
        pane cwd="/home/nacho/MEGA/notes/todo"
    }
    tab name="ekeko" {
        pane cwd="/home/nacho/code/ekeko/ekeko"
    }
    tab name="leet" {
        pane cwd="/home/nacho/code/leetcode"
    }
}
